*{
    font-family: 'Indie Flower', cursive;
}

h1:hover{
    color: red;
}

.paragraph{
    color: blue;
    position: fixed;
}
.paragraph::first-letter{
    font-size: 75px;
}

#second-title{
    color: chartreuse;
    margin-top: 150px;
}

[random = "orange-box"]{
    background-color: coral;
    /* width: 45vw; 100vw = screen size (viewport width) */
    width: 45%;
    padding: 20px 20px 20px 20px;
    margin-right: 5px;
    border: 5px dashed red;
    transform: rotate(180deg);
    display: inline-block;

}

p b {
    color: crimson;
}

.paragraphs{
    border: 8px solid black;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 800px){
    [random = "orange-box"], .another-paragraph{
        width: 95%;
        display: block;
    }
}

.another-paragraph{
    font-size: 15px;
    width: 45%;
    margin-left: 5px;
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 10px;
    font-size: 2em; /* 1em = 15px (parent's size) */
    /* line-height: 2; */
    font-weight: 800;
    text-shadow: 2px 2px 7px white, 2px 2px 7px white;
    display: inline-block;
}
/*
.another-paragraph__p {
    font-size: 2em; /* 1em = 15px (parent's size) 
    line-height: 2;
    font-weight: 800;
    text-shadow: 2px 2px 7px white, 2px 2px 7px white;
}*/

.container-positioned{
    background-color: green;
    height: 400px;
    width: 400px;
    position: relative;
    margin: auto;
    transition: background-color 1s, height 1s, width 1s;
}
.container-positioned:hover{
    background-color: rgb(219, 250, 219);
    height: 600px;
    width: 600px;
    cursor: grab;
}

.caja1, .caja2, .caja3, .caja4, .caja5 {
    background-color: yellow;
    height: 75px;
    width: 75px;
    position: absolute;
}

.caja1{

}
.caja2{
    right: 0;
}
.caja3{
    right: 0;
    bottom: 0;
}
.caja4{
    bottom: 0;
}
.caja5{
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
}

.texto-largo{
    width: 500px;
    margin: auto;
    border: 5px solid red;
    padding: 10px;
}
.texto-largo::selection{
    background-color: rgb(0, 110, 255);
    color: red;
}

.spider-image{
    float: right;
    width: 250px;
}


/* ###### NAV ###### */

.nav__responsive-ul{
    display: none;
}

.nav{
    background-color: indigo;
}

.nav__li{
    display: inline-block;
    padding: 10px;
    color: snow;
}

.nav__li:hover > a {
    color: grey;
}

.nav__li:hover > i {
    color: grey;
}

.nav__li a {
    color: snow;
    text-decoration: none;
}

.nav__li i {
    text-align: right;
    margin-right: 5px;
}

.nav__responsive-button{
    float: right;
    font-size: 25px;
    padding: 5px 20px;

}

@media only screen and (max-width: 500px){
    .nav__ul{
        display: none;
    }
    .nav__responsive-ul{
        display: block;
        /* position: absolute; */
    }
    .nav{
        height: 80px;
        width: 100%;
    }
}

