*{
    font-family: 'Indie Flower', cursive;
}

/* ###### NAV ###### */

.nav__responsive-ul{
    display: none;
}

.nav{
    background-color: indigo;
}

.nav__li{
    display: inline-block;
    padding: 10px;
    color: snow;
}

.nav__li:hover > a {
    color: grey;
}

.nav__li:hover > i {
    color: grey;
}

.nav__li a {
    color: snow;
    text-decoration: none;
}

.nav__li i {
    text-align: right;
    margin-right: 5px;
}

.nav__responsive-button{
    float: right;
    font-size: 25px;
    padding: 5px 20px;

}

@media only screen and (max-width: 500px){
    .nav__ul{
        display: none;
    }
    .nav__responsive-ul{
        display: block;
        /* position: absolute; */
    }
    .nav{
        height: 80px;
        width: 100%;
    }
}

/* ###### GRID ######## */

.grid-container{
    padding: 15px;
    border: 2px dashed red;
    display: grid;
    grid-template-rows: repeat(5, 120px); /* 120px 120px 120px 120px 120px */
    grid-template-columns: repeat(2, 120px 1fr); /* 120px 1fr 120px 1fr */
    grid-gap: 5px;
}
.grid-item{
    text-align: center;
    font-size: 25px;
    background-color: rgb(0, 196, 186);
    /* height: 120px;
    width: 120px; */
}
.grid-item:first-child{
    background-color: #900;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.grid-item:nth-child(2){
    background-color: rgb(255, 238, 0);
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.grid-container2{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: repeat(3, 150px);
    grid-gap: 5px;
}
.grid-item2{
    background-color: beige;
}