*{
    font-family: 'Indie Flower', cursive;
}

/* ######### RESPONSIVE ####### */

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}
header{
    background-color: blueviolet;
    flex-basis: 75px;
    flex-grow: 1;
}
article{
    background-color: burlywood;
    flex-basis: 300px;
    flex-grow: 2;
}
aside{
    background-color: orange;
    flex-basis: 300px;
    flex-grow: 1;
}
footer{
    background-color: aquamarine;
    flex-basis: 75px;
    flex-grow: 1;
}

@media screen and (min-width: 900px) { /* when width > 900px */
    .content {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
    }
    header{
        grid-column: 1/span 3;
    }
    article{
        grid-row: 2 / span 4;
        grid-column: 1 / span 2;
    }
    aside{
        grid-row: 2 / 6;
    }
    footer{
        grid-row: 6/7;
        grid-column: 1/span 3;
    }
}

/* *******TRANSITIONS******** */

.caja{
    margin: 5px;
    max-width: 80px;
    height: 80px;
    background-color: red;
    transition-property: left, background-color;
    transition-duration: 3s, 1s;
    position: relative;
    left: 0;
}
article:hover > .caja{
    left: 80%;
    background-color: greenyellow
}
.caja:first-child{
    transition-timing-function: linear;
}
.caja:nth-child(2){
    transition-timing-function: ease-in;
}
.caja:nth-child(4){
    transition-timing-function: ease-out;
}

/* ********ANIMATIONS******* */

.caja2{
    margin: 5px;
    max-width: 80px;
    height: 80px;
    position: relative;
    background-color: blue;
    animation-name: desplazarse;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}
@keyframes desplazarse {
    from {
        left: 0;
        background-color: blue;
    }
    to{
        left: 65%;
        background-color: cornsilk;
    }
}

/* ********TRANSFORM********* */

.caja1{
    margin: 2px auto;
    max-width: 50px;
    height: 50px;
    background-color: cyan;
    position: relative;
    left: 0;
    transition: transform 1s;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    /* transform: translateX(100%); */
}
.caja1:hover{
    transform: scale(2);
}